{% extends 'base.html.twig' %}

{% block title %}Nouveau Personnage{% endblock %}

{% block body %}

    <div class="col" >
       
        <div class="content-form">
            {{ include('personnage/_form.html.twig') }}
        </div>
        <div class="loader">
            <div class="rotate-circle"></div>
        </div>
    </div>
{% endblock %}
