<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
       
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="https://cdn.discordapp.com/attachments/968448853160386591/969249957485875250/One_Ring_Blender_Render.png">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Caudex" />
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}  <script src="https://kit.fontawesome.com/1bec57bf27.js" crossorigin="anonymous"></script>
           {{ encore_entry_link_tags('app') }} 
        {% endblock %}
        

    
    </head>
    <body> 
    <barre-navigation></barre-navigation> 
     
        {% block body %} {% endblock %}
        
        
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        {% block javascripts %}
              {{ encore_entry_script_tags('app') }}
        {% endblock %}
        <script>
            const linkCreatePartie = {{ path('app_partie_new') }}
            const isConnected = {{app.user.id ?? false | json_encode | raw}} 
        </script>
    </body>
    <footer-navigation></footer-navigation>

</html>
